.main {
  min-height: 82vh;
}
.primary-color {
  background-color: #3498db;
}

.title {
  color: #3498db;
  font-weight: bolder;
  margin-top: 2rem;
}

.formTitle {
  color: #3498db;
  font-weight: bolder;
  margin-top: 2rem;
}
.formLabel {
  color: #3498db;
}

.formButton {
  background-color: #3498db;
  border-color: #3498db;
}

.formButton:hover {
  background-color: #2e81b7;
  border-color: #2e81b7;
}

.inputField {
  border: 1px solid #3498db;
  border-radius: 4px;
}
